html,body
{
	margin: 0 0;
	overflow-x:hidden;
}
#cover
{
	position:absolute;
	min-width:100%;
	min-height:100%;
	background:url("back.png") no-repeat center;
	background-size:cover;
}
#turbine1
{
	position:absolute;
	top:490px;
	right:180px;
}
#turbine2
{
	position:absolute;
	bottom:110px;
	left:790px;
	
	
}
#turbine3
{
	position:absolute;
	top:500px;
	right:110px;
	
}
#turbine4
{
	position:absolute;
	bottom:100px;
	left:620px;	
	
}
#turbine5
{
	position:absolute;
	bottom:100px;
	right:350px;	
}

.turbineTop
{
	transform: rotate(30deg);
	position:absolute;
	top:12px;
	right:-4px;
	min-width:50px;
	min-height:50px;
	background:url("turbineTop.png") no-repeat center;
	background-size:cover;
	margin: 0 0;
	-webkit-transition-property: -webkit-transform;
    -webkit-transition-duration: 1s;
    -moz-transition-property: -moz-transform;
    -moz-transition-duration: 1s;
	-webkit-animation-name: rotate; 
    -webkit-animation-duration: 2s; 
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-name: rotate; 
    -moz-animation-duration: 2s; 
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: linear;
}
@-webkit-keyframes rotate {
from {-webkit-transform: rotate(0deg);}
to {-webkit-transform: rotate(360deg);}
}

@-moz-keyframes rotate {
    from {-moz-transform: rotate(0deg);}
    to {-moz-transform: rotate(360deg);}
}

.turbineBottom
{
	margin: 0 0;
	min-width:40px;
	min-height:90px;
	background:url("turbineBottom.png") no-repeat center;
	background-size:cover;

}
#cloud1
{
	position:absolute;
	top:100px;
	left:50px;
	-webkit-animation: mymove 45s infinite linear; /* Chrome, Safari, Opera */
	animation: mymove 45s infinite linear; 
	overflow:hidden;
}
#cloud2
{
	position:absolute;
	top:200px;
	right:50px;
	-webkit-animation: mymove2 45s infinite linear; /* Chrome, Safari, Opera */
	animation: mymove2 45s infinite linear; 
	overflow:hidden;
}

.cloudToRight
{
min-width:200px;
min-height:100px;
opacity:0.4;
background:url("cloud2.png") no-repeat;
background-size:cover;
}
.cloudToLeft
{
min-width:200px;
min-height:100px;
opacity:0.4;
background:url("cloud2.png") no-repeat;
background-size:cover;
}

@-webkit-keyframes mymove {
    from {left: -250px;}
    to {left: 100%;}
}
@keyframes mymove {
    from {left: -250px;}
    to {left: 100%;}
}
@-webkit-keyframes mymove2 {
    from {right: -250px;}
    to {right: 100%;}
}
@keyframes mymove2 {
    from {right: -250px;}
    to {right: 100%;}
}

