@import url('http://fonts.googleapis.com/css?family=Open+Sans');
body
{
	
}


#container
{
	
	width:760px;
	height:auto;
	margin:auto;
}
#menu
{
	width:760px;
	height:50px;
	
}
#menu a
{
	width:84px;
	height:0px !important;
	float:left;
	padding: 50px 0 0 0;
	background-repeat:no-repeat;
	transition: background-position 500ms;
	
}
#menu a:first-child
{
	background:url("../img/meniu/about.gif");
}
#menu a[data-attribute="portofolio"]
{
	background:url("../img/meniu/portfolio.gif");
	width:95px;
}
#menu a[data-attribute="services"]
{
	background:url("../img/meniu/services.gif");
}
#menu a[data-attribute="contact"]
{
	background:url("../img/meniu/contact.gif");
	width:110px;
}
#menu a.selected{
	background-position:0 -100px !important;
}
#menu a:hover
{
	background-position:0 -100px !important;
}
header
{
	background:url("../DobaiLorand/banner-curs.png") no-repeat;
	background-size:100% 100%;
	width:760px;
	height:150px;
	position:relative;
}
#wrapper
{
	width:200px;
	position:absolute;
	bottom:2px;
	right:10px;
}
#content
{
	
	float:left;
	width:480px;
	height:auto;
	min-height:200px;
	font-family:'Open Sans';
}
#sidebar
{
	
	width:280px;
	float:right;
	height:auto;
	min-height:200px;
}
footer
{clear:both;	

	width:100%;
	height:66px;
}
#logo{
position:fixed;
top:100px;
left:5px;
}
@media (max-width: 600px) {
 
  #sidebar{
	display:none;
  }
}
#no-phone
{
	display:none;
}
