body{
	
	background: url(footer_lodyas.png); 
	
	margin:0 0;
}
#wrapper{
	text-align:center;
	
	margin: 10% auto;
	background-color:rgba(52, 152, 219, 1);
	
	padding:40px;
	border-radius:1.5em;
	
}

input[type="text"] {
  
  margin: 0;
  padding: 3px;
  font-family: sans-serif;
  font-size: 14px;
  appearance: none;
  box-shadow: 1px;

  border-radius: 0.7em;
  
}

input[type="text"]:focus {
	border-radius: 0.7em;
  border: solid 2px #2eccaa;
  
}
#wrapper select
 {
   background: #ecf0f1;
   padding: 2px;
   font-size: 16px;
   line-height: 1;
   border: 1px solid white;
   border-radius:0.3em;
   
 }
 #wrapper select:focus
 {
   background: #ecf0f1;
   border-radius:0.3em;
   
 }
 input[type=submit] {
    border-radius: 5px;
    border: 0;
    width: 80px;
    height:25px;
    font-family: Tahoma;
    background: #f4f4f4;
    
}